//Uso de variables
$anchura: 80%;
$font-text: 'Noto Sans', 'Open Sans', sans-serif;
$color-fondo: #a3b3de;
$color-texto: #fcf0f0;
$color-enlace: #1300ff;
$color-texto2:#c17581;
$color-texto-claro: #191919;
$color-texto-oscuro:#dedede;
$color-fondo-claro:#fafafa;
$color-fondo-oscuro: #191919;
